extends ../layout/layout

block css
  link(rel='stylesheet', href='/stylesheets/articles.css')

block content
  .container.page-container
    .row
      .col.m8.s12
        .collection.article-list.z-depth-1
          for article in articleList
            include article-list-single

      .col.m4.hide-on-small-only
        include article-categories
        include newest-comments

  .container
    .divider
    ul.pagination
      - if (pageNum == 1)
        li.disabled
          a(href='#') <
      - else
        li.waves-effect
          a(href='/articles/page/#{parseInt(pageNum) - 1}') <
      - if (pageSum <= pageBarSize)    
        - for (var i = 1; i <= pageSum; ++i)
          - if (i == pageNum)
            li.active.deep-purple.lighten-2
              a(href='/articles/page/#{i}')= i
          - else
            li.waves-effect
              a(href='/articles/page/#{i}')= i
      - else
        - if (pageNum < 3)
          - for (var i = 1; i <= pageBarSize; ++i)
            - if (i == pageNum)
              li.active.deep-purple.lighten-2
                a(href='/articles/page/#{i}')= i
            - else
              li.waves-effect
                a(href='/articles/page/#{i}')= i
        - else if (pageNum + pageBarSize - 2 <= pageSum)
          - for (var i = pageNum - 1; i <= pageNum + pageBarSize - 2; ++i)
            - if (i == pageNum)
              li.active.deep-purple.lighten-2
                a(href='/articles/page/#{i}')= i
            - else
              li.waves-effect
                a(href='/articles/page/#{i}')= i
        - else
          - for (var i = pageSum - pageBarSize + 1; i <= pageSum; ++i)
            - if (i == pageNum)
              li.active.deep-purple.lighten-2
                a(href='/articles/page/#{i}')= i
            - else
              li.waves-effect
                a(href='/articles/page/#{i}')= i
                
      - if (pageNum == pageSum)
          li.disabled
            a(href='#') >
      - else
          li.waves-effect
            a(href='/articles/page/#{parseInt(pageNum) + 1}') >

block scripts
  script(src='/javascripts/articles/articles.js')
