.card.white.collection-item
  .card-content.white-text
    a.card-title.black-text.truncate(href='/articles/passage/#{article._id}') #{article.title}
    a.grey-text.truncate(href='/articles/passage/#{article._id}') #{article.intro}
  .card-action.right-align
    span.left #{moment(article.updateDate).format('LLLL')}
    a(href='/articles/passage/#{article._id}') readmore
