a.collection-item.avatar.black-text.darken-4(href='/articles/passage/#{comment.article._id}')
  img.circle(src='#{comment.author.avatar}')
  span.title.deep-purple-text.truncate #{comment.article.title}
  p.truncate #{comment.content}
  p.grey-text #{moment(comment.time).format('LLLL')}
