extends ../layout/layout

block css
  link(rel='stylesheet', href='/stylesheets/articles.css')
  link(rel='stylesheet', href='/stylesheets/github-markdown.css')
  link(rel='stylesheet', href='/stylesheets/prism.css')
  link(rel='stylesheet', href='/plugins/codemirror/lib/codemirror.css')
  link(rel='stylesheet', href='/plugins/codemirror/addon/dialog/dialog.css')

block content
  .container.article-container
    .article-header(id="#{article._id}")
      h1.article-title #{article.title}
      .info
        p.author-update
          span.article-author author: #{article.author.username}
          span.article-update #{moment(article.updateDate).format('LLLL')}
          if user && (user.role === 2 || user.role === 1 && user.username === article.author.username)
            a.article-edit(href='/articles/modify') Edit
            a.article-delete.modal-trigger(href='#delete-modal') Delete
        p.article-tags
          for tag in article.categories
            span.new.badge.deep-purple.accent-1(data-badge-caption='') #{tag.name}
    .divider
    .article-content
      .markdown-body
        != marked(article.content)
    
    .divider
    .article-comments
      h2.comments-title Comments
      .comments-wrap
        for comment, commentIndex in article.comments
          include comment
      form.comment-form#new-comment-wrap
        input(type='hidden', name='commentId')
        .row
          textarea.new-comment#new-comment(name='comment-content')
        .row
          .right-align
            button.btn.waves-effect.deep-purple(type='submit') submit

    #delete-modal.modal.modal-fixed-footer
      .modal-content
        .row
          h4.delete-title Confirm
          p.delete-content.center-align Do you really want to delete it?
        form.delete-form
          input.delete-type(type='hidden', name='type')
          input.delete-id(type='hidden', name='id')
      .modal-footer
        a.modal-action.modal-close.waves-effect.btn-flat.delete-disagree(href='#!') cancel
        a.modal-action.modal-close.waves-effect.deep-purple.white-text.btn-flat.delete-agree(href='#!') yes

block scripts
  script(src='/javascripts/prism.js')
  script(src='/plugins/codemirror/lib/codemirror.js')
  script(src='/plugins/codemirror/addon/edit/continuelist.js')
  script(src='/plugins/codemirror/addon/edit/matchbrackets.js')
  script(src='/plugins/codemirror/addon/edit/closebrackets.js')
  script(src='/plugins/codemirror/keymap/sublime.js')
  script(src='/plugins/codemirror/addon/search/search.js')
  script(src='/plugins/codemirror/addon/search/searchcursor.js')
  script(src='/plugins/codemirror/addon/dialog/dialog.js')
  script(src='/plugins/codemirror/addon/comment/comment.js')
  script(src='/plugins/codemirror/addon/wrap/hardwrap.js')
  script(src='/javascripts/articles/passageInit.js')
